/* BASE STYLES */
:root {
    --black: #333;
    --white: #fff;
    --gray: #ccc;
    --red: #e71d36;
    --teal: #2ca599;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* NAVBAR */
.navbar {
    background-color: var(--teal);
    height: 60px;
    padding: 2.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}

.navbar__logo {
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 2rem;
}

.navbar__link {
    color: var(--white);
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.navbar__logo:hover,
.navbar__link:hover {
    color: var(--black);
    transition: all 0.3s;
}


/* HERO */
.hero {
    background-color: var(--teal);
}

.hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    min-height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    
}

.hero__content h1,
.hero__content p {
    color: var(--white);
}

.hero__content h1 {
    font-size: 3.5rem;
}

.hero__content p {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
}

.hero__btn {
    font-size: 1rem;
    background-color: var(--red);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.hero__btn a {
    position: relative;
    z-index: 2;
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.hero__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--black);
    transition: all 0.3s;
    border-radius: 4px;
}

.hero__btn:hover:after {
    width: 100%;
}

.hero__img--container {
    text-align: right;
}

.hero__img {
    width: 100%;
}


/* ABOUT */



/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    /* BASE STYLES */
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /* NAVBAR */
    .navbar__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background-color: var(--teal);
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: var(--white);
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* HERO */
    .hero__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        min-height: 90vh;
        padding: 4rem 0;
    }

    .hero__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .hero__content h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .hero__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .hero__img--container {
        text-align: center;
    }

    .hero__img {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {

}